{% extends 'base.html' %}
{% load static%}

{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'mine/css/login.css' %}">
{% endblock %}

{% block title %}
<title>登录</title>
{% endblock %}

{% block content %}
    <div class="login">
        <div class="back">
            <a href="{% url 'axf:mine' %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>

        <form action="{% url 'axf:login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <span class="err">{{ error }}</span>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">账号</span>
            <input type="text" class="form-control" placeholder="6~12个字符" aria-describedby="basic-addon1" name="account">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">密码</span>
            <input type="password" class="form-control" placeholder="6~12个字符" aria-describedby="basic-addon1" name="password">
        </div>
            <input type="submit" value="登录" class="btn btn-primary" id="btn1">
    </form>
    </div>
{% endblock %}

{% block EXTJS %}
    <script>
        $(function () {
            $('.login').width(innerWidth)
        })
    </script>
{% endblock %}