{% extends 'base.html' %}
{% load static%}

{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'market/css/market.css' %}">
{% endblock %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="market">
{#    左部列表#}
    <div class="type-slider">
        <ul>
            {% for foodtype in foodtypes %}
                <li>
                    <span></span>
                    <a href="{% url 'axf:market' foodtype.typeid childid 0 %}">{{ foodtype.typename }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{#    顶部导航#}
    <nav>
        <ul>
            <li><span id="allbt">全部分类<i class="glyphicon glyphicon-chevron-up"></i></span></li>
            <li><span id="sortbt">综合排序<i class="glyphicon glyphicon-chevron-up"></i></span></li>
        </ul>
    </nav>
{#主体商品#}
    <div class="main-content">
{#    商品#}
        <div class="content-wrapper">
            <ul>
                {% for good in goodlist %}
                    <li>
                        <a href="#">
                            <img  class="goods-img" src="{{ good.productimg }}" alt="">
                            <div class="goods-info">
                                <p class="name">{{ good.productlongname }}</p>
                                <p class="detailtag">
                                    {% if good.isxf %}
                                        <span class="xf">精选</span>
                                    {% endif %}
                                </p>
                                <p class="specifics">{{ good.specifics }}</p>
                                <p class="price">
                                    <i class="now-price">{{ good.price }}</i>
                                    <i class="market-price">{{ good.marketprice }}</i>
                                </p>
                            </div>
                        </a>
                        <div class="bt-wrapper">
                            <span class="glyphicon glyphicon-minus" goodid="{{ good.id }}" ></span>
                            <span class="num">
                                {% for cart in carts %}
                                    {% if cart.goods_id == good.id %}
                                        {{ cart.goodnumber }}
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <span class="glyphicon glyphicon-plus" goodid="{{ good.id }}"></span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
{#    子类菜单#}
{#    全部类别#}
        <div class="bounce-view" id="childview">
            <div class="bounce-wrapper">
                {% for child in chlist %}
                    <a href="{% url 'axf:market' categoryid child.chid 0 %}">
                        {{ child.chname }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="bounce-view" id="sortview">
            <div class="bounce-wrapper">
                <a href="{% url 'axf:market' categoryid childid 0 %}">综合排序</a>
                <a href="{% url 'axf:market' categoryid childid 1 %}">销量排序</a>
                <a href="{% url 'axf:market' categoryid childid 2 %}">价格最低</a>
                <a href="{% url 'axf:market' categoryid childid 3 %}">价格最高</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block EXTJS %}
    <script src="{% static 'market/js/market.js' %}"></script>
{% endblock %}