{% extends 'base.html' %}
{% load static%}

{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'mine/css/mine.css' %}">
{% endblock %}

{% block title %}
<title>我的</title>
{% endblock %}

{% block content %}
    <div class="mine">
        <div class="user-wrapper">
            <div class="user-img">
                <img src="{{ img }}" alt="">
            </div>
            <div class="user-content">
               <p><span class="glyphicon glyphicon-user"></span><a href="{% url 'axf:login' %}">{{ name }}</a></p>
                <p><span class="glyphicon glyphicon-fire"></span>svip{{ rank }}</p>
                <div class="register"><a href="{% url 'axf:register' %}">注册</a></div>
            </div>
        </div>
    
        <div class="collect">
            <span class="glyphicon glyphicon-heart"></span>
            <span>商品收藏</span>
        </div>
    
        <div class="other">
            <section class="my">
                <span>我的订单</span>
                <a href="#">查看全部订单<i class="glyphicon glyphicon-chevron-right"></i></a>
            </section>
            <section>
                <ul>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-usd"></dd>
                            <dd>待付款</dd>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-check"></dd>
                            <dd>待收货</dd>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-comment"></dd>
                            <dd>待评价</dd>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-send"></dd>
                            <dd>退款/售后</dd>
                            </dt>
                        </dl>
                    </li>
                </ul>
            </section>
            <section>
                <ul>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-credit-card"></dd>
                            <dd>优惠券</dd>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-home"></dd>
                            <dd>收货地址</dd>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-phone-alt"></dd>
                            <dd>客服/反馈</dd>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                            <dd class="glyphicon glyphicon-tasks"></dd>
                            <dd>关于我们</dd>
                            </dt>
                        </dl>
                    </li>
                </ul>
            </section>

           {% if login %}
                <section>
                    <div class="quit">
                        <a href="{% url 'axf:logout' %}">退出登录</a>
                    </div>
                </section>
           {% endif %}
        </div>
    </div>
{% endblock %}

{% block EXTJS %}
    <script src="{% static 'mine/js/mine.js' %}"></script>
{% endblock %}